p 
 { 
   Color: red;     
text-align:  left;        
font-size: 45pt;
}
h1
 { 
   Color: Blue;      
font-weight: bold;
font-size: 40pt;
}
h2
 { 
   Color: orange;      
font-weight: bold;
font-size: 40pt;
}
